/* Remove rounded corners from carousel images */
.myCarousel{
    position: absolute;
}
.carousel-inner img {
    border-radius: 0;
 /* Set border-radius to 0 for sharp corners */
}
.carousel-inner .carousel-item {
   padding: 10px;
}
